<div class="product_thumbnail">
    <a href="{{ p.get_absolute_url }}">
        <img src="{{ p.thumbnail.url }}" alt="{{ p.name }}" class="bn" width="100px"/>
        <br/>
        {{ p.name }}
    </a>
</div>