{% extends "catalog.html" %}
{% block content %}
    <h1>Password Changed</h1>
    Your password has been changed successfully.
    <br/><br/>
    <a href="{% url "catalog_home" %}">Continue Shopping</a>
{% endblock %}