{% extends "catalog.html" %}
{% block content %}
    <form action="." method="post">
        <table>
            {% csrf_token %}
            <caption>Change Password</caption>
            {{ form.as_table }}
            <tr>
                <td colspan="2" class="right">
                    <input type="submit" name="submit" value="Change"/>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}