<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="Stylesheet" type="text/css" href="{{ MEDIA_URL }}css.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% if page_title %}{{ page_title }} - {% endif %}
    {{ site_name }}{% endblock %}</title>
    <meta name="keywords" content="{{ meta_keywords }}" />
    <meta name="description" content="{{ meta_description }}" />
</head>
<body>
    {% block site_wrapper %}{% endblock %}

    <script type="text/javascript" src="{{ MEDIA_URL }}jquery-1.3.1.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}scripts.js"></script>
</body>
</html>